HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Variables de Entorno ###
.env

### Autogenerados (HTML, reportes, documentación) ###
site/
out/
docs/api/
coverage/
jacoco/
**/jacoco-report/
surefire-reports/
**/surefire-reports/

### Logs ###
*.log
logs/postman/*.html
postman/informe.html
